<div class="contact-content">
  <div class="main">
    <h2 class="header"> Email me at: </h2>
    <p class="email">
      <b> Primary: </b>
      <a href="mailto:tamarrathal@gmail.com"> tamarrathal@gmail.com </a>
    </p>
    <p class="email">
      <b> Secondary: </b>
      <a href="mailto:tthal@ufl.edu"> tthal@ufl.edu </a>
    </p>
  </div>

  <div class="info">
    <p class="social">
      <b> Linkedin: </b>
      <a class="username" href="https://www.linkedin.com/in/tamarrathal/" target="_blank"> tamarrathal </a>
    </p>

    <p class="social">
      <b> Facebook: </b>
      <a class="username" href="https://www.facebook.com/tamarra.thal" target="_blank"> Tamarra Thal </a>
    </p>

    <p class="social">
      <b> Skype: </b>
      <span class="username"> tamarrathal </span>
    </p>
  </div>
</div>
